<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EarthQuakes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C211F8902D16E34900003A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C211F8A02D16E34B00003A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C211F8AA2D16E34B00003A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
